<p id="notice"><%= notice %></p>
<div class="user-posts">
  <div class="user">
    <h2><%= @user.email %></h2>

    <%= turbo_frame_tag "user" do %>
      <% if @user.about.present? %>
        <div class="about">
          About
          <p><%= @user.about %></p>
        </div>
      <% end %>

      <div class="actions">
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_path(@user) %> 
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="posts">
    <% if @user == current_user %>
      <div class='new-post'>
        <%= turbo_frame_tag 'new_post', src: new_user_post_path(current_user), target: '_top' %>
      </div>
    <% end %>

    <ul id="posts">
      <%= render @user.posts %>
    </ul>
  </div>
</div>
