<p id="notice"><%= notice %></p>

<%= turbo_frame_tag "post" do %>
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @post.user.email %>
  </p>

  <%= link_to 'Back', posts_path, 'data-turbo-frame': '_top' %> |
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div>
  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <p>
    <%= comment.content %>
    </p>
    <p>
      <small>
      <%= comment.user.email %>
      <em>
      <%= comment.created_at.to_formatted_s(:short) %>
      </em>
      </small>
    </p>
  <% end %>
</div>

<%= turbo_frame_tag 'new_comment', src: new_post_comment_path(@post), target: '_top' %>
