<!DOCTYPE html>
<html>
  <head>
    <title>Blag</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= stimulus_include_tags %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer', user: current_user %>
  </body>
</html>
